<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/Weather/css/login-registration.css">
</head>
<body>
<div class="background"></div>
<div class="content">
    <div class="error-form">
        <h2 th:text="${statusCode}"></h2>
        <div class="form-group">
            <p th:text="${errorMessage}"></p>
        </div>
        <a class="btn" th:href="${redirectUrl}">Go to Home page</a>
    </div>
</div>
<div class="footer">
    <a href="https://github.com/ArturChegur" target="_blank">© 2024–2024 Created by ArturChegur. All rights
        reserved.</a>
</div>
</body>
</html>